{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} {% trans "Add server" %} - {{ SITE_NAME }}{% endblock %}

{% block main %}
<div class="row-fluid well">
	<h1>{% trans "Add server" %}</h1>
	<p>{% trans "Let players find your server. Describe what kind of server it is and what makes it the best of them all!" %}</p>
	{% if message %}
		<div class="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div class="text-warning"><strong>{% trans "Message" %}: </strong>{{ message }}</div>
		</div>
	{% endif %}
	<form action="" method="POST" style="margin:0" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form|crispy }}
		<input type="submit" class="btn btn-primary" value="{% trans "Create" %}"/>
	</form>
</div>
{% endblock %}

{% block scripts%}
{% endblock %}