{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Contact" %} - {{ SITE_NAME }}{% endblock %}

{% block heading %}
    {% include "top/promoHeader.html" %}
{% endblock %}

{% block main %}
<div class="row-fluid well">
	<h1>{% trans "Contact us" %}</h1>
	<p>{% trans "Want to tell us something? Any error you found in the rankings? Wrong server information?" %}</p>
	<p>{% trans "You can send us a message with the following form" %}:</p>

	<form action="." method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		<input class="btn btn-primary" type="submit" value="{% trans "Send" %}" />
	</form>
</div>

<script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_PUBLIC_KEY }}"></script>
<script>
grecaptcha.ready(function() {
    grecaptcha.execute('{{ RECAPTCHA_PUBLIC_KEY }}', {action: 'homepage'}).then(function(token) {
       $('#id_captcha').val(token);
    });
});
</script>

{% endblock %}
