{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} {% trans "Edit server" %} - {{ SITE_NAME }}{% endblock %}

{% block main %}
<div class="row-fluid well">
	<h2>{% trans "Edit server" %}</h2>
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form|crispy }}
		<div class="form-group">
			<label>{% trans "Tags" %}</label>
			<input type="hidden" name="tags_field" id="tags_field" value=""/>
			<ul id="tag-selector">
				{% for tag in tags %}
					<li><a href="#" data-tag-id="{{ tag.id }}" data-tag-active="{{ tag.active|lower }}" class="badge badge-pill {% if tag.active %}badge-success{% else %}badge-secondary{% endif %}">{% autoescape off %}{{ tag.name }}{% endautoescape %}</a></li>
				{% endfor %}
			</ul>
		</div>
		<input type="submit" class="btn btn-primary" value="{% trans "Save changes" %}"/>
		<a class="btn btn-secondary" href="{% url 'server' server.id %}">{% trans "View" %}</a>
	</form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$("#tag-selector .badge").click(function (e) {
			if ($(this).data('tag-active')) {
				$(this).data('tag-active', false);
				$(this).removeClass('badge-success');
				$(this).addClass('badge-secondary');
			} else {
				$(this).data('tag-active', true);
				$(this).removeClass('badge-secondary');
				$(this).addClass('badge-success');
			}

			var activeTagIds = [];
			$("#tag-selector .badge").each(function() {
				if ($(this).data('tag-active')) {
					activeTagIds.push($(this).data('tag-id'));
				}
			});
			$('#tags_field').val(activeTagIds.join(','));

			e.preventDefault();
		});
	});
</script>
{% endblock %}