{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Home" %} - {{ SITE_NAME }}{% endblock %}

{% block heading %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success" role="alert">
                <a href="{% url 'popularTop' %}" class="alert-link">{% blocktrans %}NEW! The most popular {{ GAME_NAME }} servers now{% endblocktrans %}</a>
            </div>
        </div>
    </div>
    {% include "top/promoHeader.html" %}
    <div class="row-fluid d-none">
        <div class="col-12">
            <a href="/vote4coins/"><div class="alert alert-success" style="font-size:1.2em;">
                <strong>New!</strong> Vote4Coins system, reward your users when they vote on {{ SITE_NAME }}. Click here for more info and get the PHP script.
            </div></a>
        </div>
    </div>
{% endblock %}

{% block main %}
<div class="row" style="margin:0">
	{% if voted_servers_list %}
        <div class="col-12 ranking-container">
            <h2 class="text-center"><a href="/top/month/">{% blocktrans %}Best {{ GAME_NAME }} servers this month{% endblocktrans %}</a></h2>
            {% for server in voted_servers_list %}
                <div class="well{% if server.is_premium %} row-premium{% endif %}" style="position:relative;">
                    {% if server.is_premium %}
                        <span style="position: absolute; top:-2px; left:8px;"><img src="{% static 'top/img/premium.png' %}" alt="premium"/></span>
                    {% endif %}

                    <div class="row">
                        <div class="col-3">
                            {% if forloop.counter == 1 %}<img src="{% static 'top/img/gold.png' %}" alt="gold"/>{% endif %}
                            {% if forloop.counter == 2 %}<img src="{% static 'top/img/silver.png' %}" alt="silver"/>{% endif %}
                            {% if forloop.counter == 3 %}<img src="{% static 'top/img/bronze.png' %}" alt="bronze"/>{% endif %}
                            {% if forloop.counter > 3 %}
                                {% if server.is_premium %}
                                    <img src="/media/top/img/star.png" alt="premium"/>
                                {% else %}
                                    <strong>Top #{{ forloop.counter }}</strong>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-6 text-center" style="font-size: 1.1em;">
                            {% for tag in server.tags.all %}
                            {% ifequal tag.name 'Español' %}<span><img style="margin: -3px 5px 0 0" src="{% static 'top/img/lang/es.gif' %}"/></span>{% endifequal %}
                            {% ifequal tag.name 'Deutsch' %}<span><img style="margin: -3px 5px 0 0" src="{% static 'top/img/lang/de.gif' %}"/></span>{% endifequal %}
                            {% ifequal tag.name 'English' %}<span><img style="margin: -3px 5px 0 0" src="{% static 'top/img/lang/us.gif' %}"/></span>{% endifequal %}
                            {% ifequal tag.name 'Italiano' %}<span><img style="margin: -3px 5px 0 0" src="{% static 'top/img/lang/it.gif' %}"/></span>{% endifequal %}
                            {% endfor %}
                            <a href="/top/server/{{ server.id }}/"><strong>{{ server.name }}</strong></a>
                        </div>
                        <div class="col-3 votes" style="text-align:center;">
                            <span class="badge {% if server.is_premium %}badge-success{% else %}badge-info{% endif %}">
                                {{ server.month_votes }} {% trans "Votes" %}
                            </span>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <p class="text-center">
                            <a href="/top/server/{{ server.id }}/"><img class="img-fluid" src="/media/{{ server.image }}" alt="{{ server.name }}-image" style="max-height:80px;"/></a>
                        </p>
                    </div>
                </div>

                <div class="clearfix"></div>

            {% endfor %}
            <div class="row-fluid">
                <div class="col-12 text-center">
                    <a class="btn btn-info" href="/top/month">{% trans "View more" %}</a>
                </div>
            </div>
        </div>
	{% else %}
		<div class="col-6">
			<h5 class="text-center">{% trans "Monthly top" %}</h5>
			<p>{% trans "No servers" %}</p>
		</div>
	{% endif %}
</div>

<hr class="dark" />

<div class="well row" style="margin:0">
	{% if latest_servers_list %}
		<div class="col-12">
			<h2 class="text-center">{% blocktrans %}New {{ GAME_NAME }} servers{% endblocktrans %}</h2>
			<table class="table table-striped ranking">
				<thead><tr><th></th><th>{% trans "Server" %}</th><th class="text-center">{% trans "Votes" %}</th></tr></thead>
			{% for server in latest_servers_list %}
				<tr {% if server.is_premium %}class="row-premium" title="{% trans "Premium Server" %}"{% endif %}>
					<td class="text-center">
                        {% if server.is_premium %}
                            <img src="{% static 'top/img/star.png' %}" alt="premium"/>
                        {% else %}
                            <img src="{% static 'top/img/time.png' %}" alt="recent"/>
                        {% endif %}
                    </td>
					<td><a href="/top/server/{{ server.id }}/">{{ server.name }}</a></td>
					<td class="text-center"><span class="badge badge-info">{{ server.votes }}</span></td>
				</tr>
			{% endfor %}
			</table>
		</div>
	{% else %}
		<div class="col-6">
			<h5 class="text-center">{% trans "Latest added" %}</h5>
			<p>{% trans "No servers" %}</p>
		</div>
	{% endif %}
</div>
	<div class="clearfix"></div>
{% endblock %}
