{% load i18n %}

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-dismissible fade show
            {% if message.tags %}
                {% if message.tags == 'success' %}alert-success{% endif %}
                {% if message.tags == 'error' %}alert-danger{% endif %}
                {% if message.tags != 'success' and message.tags != 'error' %}alert-primary{% endif %}
            {% else %}alert-primary
            {% endif %}" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
{% endif %}