{% extends 'base.html' %}
{% load i18n %}

{% block title %} {% trans "My servers" %} - {{ SITE_NAME }}{% endblock %}

{% block main %}
<div class="row-fluid well">
	<h1>{% trans "My servers" %}</h1>
	{% if servers %}
	<table class="table">
		{% for server in servers %}
		<tr>
			<td>
				{% if server.online %}<i class="fas fa-check-circle" style="color: green;"></i>
				{% else %}<i class="fas fa-times-circle" style="color: red;"></i>
				{% endif %}
			</td>
			<td><a href="/top/server/{{ server.id }}/">{{ server.name }}</a></td>
			<td><a href="/top/server/{{ server.id }}/edit" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i> {% trans "Edit" %}</a></td>
			<td>
				<form action="/top/server/{{ server.id }}/online/" method="POST" style="margin:0" enctype="multipart/form-data">
				{% csrf_token %}
				{% if server.online %}<input type="submit" class="btn btn-danger" value="{% trans "Deactivate" %}" />
				{% else %}<input type="submit" class="btn btn-info" value="{% trans "Activate" %}" />{% endif %}
				</form>
			</td>
			<td><a href="#codeModal" onclick="showCode('{{ server.id }}')" class="btn" role="button" data-toggle="modal" data-target="#codeModal">{% trans "Code" %}</a></td>
			<td><a href="/top/server/{{ server.id }}/stats/" class="btn">{% trans "Statistics" %}</a></td>
			<td><a href="{% url 'premium' %}" class="btn btn-success">{% trans "Premium" %}</a></td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p>{% trans "You don't have any server" %}</p>
	{% endif %}

	<a href="{% url 'addServer' %}" class="btn btn-success">{% trans "Add server" %}</a>


<div id="codeModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{% trans "Embed code" %}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>{% trans "Embed code" %}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Ok, done" %}</button>
			</div>
		</div>
	</div>
</div>

</div>
{% endblock %}

{% block scripts%}
<script type="text/javascript">
function showCode( server_id ) {
	var code1 = '<a href="https://{{ SITE_DOMAIN }}/top/server/'+server_id+'/"><img src="https://{{ SITE_DOMAIN }}/static/top/img/logo-100.png" /></a>';
	var code2 = '<a href="https://{{ SITE_DOMAIN }}/top/server/'+server_id+'/"><img src="https://{{ SITE_DOMAIN }}/static/top/img/logo-48.png" /></a>';
	var code3 = '[url=https://{{ SITE_DOMAIN }}/top/server/'+server_id+'/][img]https://{{ SITE_DOMAIN }}/static/top/img/logo-100.png[/img][/url]';
	var code4 = '[url=https://{{ SITE_DOMAIN }}/top/server/'+server_id+'/][img]https://{{ SITE_DOMAIN }}/static/top/img/logo-48.png[/img][/url]';
	$("#codeModal .modal-body").html('<ul>'+
		'<li><strong>HTML</strong>: {% blocktrans %}100x100 logo linked to your server in {{ SITE_NAME }}{% endblocktrans %}:<br/>'+code1+'<br/><pre class="prettyprint linenums" id="code1"></pre></li>'+
		'<li><strong>HTML</strong>: {% blocktrans %}48x48 logo linked to your server in {{ SITE_NAME }}{% endblocktrans %}:<br/>'+code2+'<br/><pre class="prettyprint linenums" id="code2"></pre></li>'+
		'<li><strong>BBCODE</strong>: {% blocktrans %}100x100 logo linked to your server in {{ SITE_NAME }}{% endblocktrans %}:<br/><pre class="prettyprint linenums" id="code3"></pre></li>'+
		'<li><strong>BBCODE</strong>: {% blocktrans %}48x48 logo linked to your server in {{ SITE_NAME }}{% endblocktrans %}:<br/><pre class="prettyprint linenums" id="code4"></pre></li>'+
		'</ul>');
	$("#code1").text(code1);
	$("#code2").text(code2);
	$("#code3").text(code3);
	$("#code4").text(code4);
}
</script>
{% endblock %}