{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Buy Premium" %} - {{ SITE_NAME }}{% endblock %}

{% block main %}
<div class="row-fluid well">
	<h2>{% trans "Premium" %}</h2>
	<div>
		<p>{% trans "Being a <strong>Premium</strong> server has the following <u>advatages</u>" %}: </p>
		<ol>
			<li class="text-success">{% trans "Server highlighted in all rankings" %}</li>
			<li class="text-success">{% trans "Advertising banners for your server in the home page and right side column" %}</li>
			<li class="text-success">{% trans "Advanced statistics and ability to email users with updates and events with just one click" %}</li>
		</ol>
		<p>{% blocktrans %}Let your users know that your server is serious with a premium badge, advertising and advanced features here on {{ SITE_NAME }}.{% endblocktrans %}</p>
		<br>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="product text-center">
				<h4>{% trans "Premium" %}</h4>
				<h4>{% trans "1 Month" %}</h4>
				<p><img src="/static/top/img/tier1.png" /></p>
				<h3><span class="badge badge-pill badge-success">5€</span></h3>
				<p>&nbsp;</p>
				<form action="" method="POST" style="margin:0" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="hidden" name="premium" value="1month" />
					<input type="submit" class="btn btn-success btn-block" value="{% trans "Buy" %}" />
				</form>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="product text-center">
				<h4>{% trans "Premium" %}</h4>
				<h4>{% trans "2 Months" %}</h4>
				<p><img src="/static/top/img/tier2.png" /></p>
				<h3><span class="badge badge-pill badge-success">9€</span></h3>
				<p><span class="badge badge-info">Save 10%!!</span></p>
				<form action="" method="POST" style="margin:0" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="hidden" name="premium" value="2months" />
					<input type="submit" class="btn btn-success btn-block" value="{% trans "Buy" %}" />
				</form>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="product text-center">
				<h4>{% trans "Premium" %}</h4>
				<h4>{% trans "3 Months" %}</h4>
				<p><img src="/static/top/img/tier3.png" /></p>
				<h3><span class="badge badge-pill badge-success">12€</span></h3>
				<p><span class="badge badge-info">Save 20%!!</span></p>
				<form action="" method="POST" style="margin:0" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="hidden" name="premium" value="3months" />
					<input type="submit" class="btn btn-success btn-block" value="{% trans "Buy" %}" />
				</form>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<br>
	<p><i>{% trans "If your server does already have Premium don't worry, we will add the corresponding number of days to the current Premium ending date" %}</i></p>
	{% if disabledPremiumMessage %}<div class="alert alert-warning">{{ disabledPremiumMessage }}</div>{% endif %}
</div>
{% endblock %}