{% load i18n %}

<div class="row row-nomargin">
	<div class="col-md-12 col-lg-3" id="logo">
		<div class="padding10">
		<a href="https://{{ SITE_DOMAIN }}" alt="{{ SITE_NAME }}" title="{{ SITE_NAME }}"><img src="/static/top/img/logo.png" title="{{ SITE_NAME }}" alt="{{ SITE_NAME }} logo" /></a>
		</div>
	</div>
	<div class="col-lg-9 well d-none d-lg-block">
		<div id="heading">
		
            <div id="slider" class="carousel slide" data-ride="carousel">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active carousel-item">
                        <p><a href="/">{{ SITE_NAME }} - {% blocktrans %}{{ GAME_NAME }} server ranking{% endblocktrans %}</a></p>
                        <p>{% trans "Do you want to know which are the most popular servers?" %}</p>
                        <p>{% trans "Or the top rated ones?" %}</p>
                        <p>{% blocktrans %}Discover new {{ GAME_NAME }} servers?{% endblocktrans %}</p>
                    </div>
                    <div class="carousel-item">
                        <p><a href="/accounts/signup/">{% trans "Register to" %}</a>:</p>
                        <ul>
                            <li>{% trans "Vote for your favourite" %}</li>
                            <li>{% trans "Send comments and ratings" %}</li>
                            <li>{% trans "Add your own server" %}</li>
                            <li>{% trans "See server's uptime" %}</li>
                        </ul>
                        <a href="/accounts/signup/" class="btn btn-info pull-right">{% trans "Register now" %}</a>
                    </div>
                    <div class="carousel-item">
                        <p>{% blocktrans %}Advantages of {{ SITE_NAME }} Premium{% endblocktrans %}:</p>
                        <ul>
                            <li>{% trans "Access to Premium rankings" %}</li>
                            <li>{% trans "Server highlighted in all other rankings" %}</li>
                            <li>{% blocktrans %}Advertising in {{ SITE_NAME }}!{% endblocktrans %}</li>
                        </ul>
                        <a href="/top/premium/" class="btn btn-success pull-right">{% trans "Premium" %}</a>
                    </div>
                </div>

                <!-- Carousel nav -->
                <ol class="carousel-indicators">
                    <li data-target="#slider" data-slide-to="0" class="active"></li>
                    <li data-target="#slider" data-slide-to="1"></li>
                    <li data-target="#slider" data-slide-to="2"></li>
                </ol>
            </div>

		</div>
	</div>
</div>