{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Recently added" %} - {{ SITE_NAME }}{% endblock %}

{% block heading %}
    {% include "top/promoHeader.html" %}
{% endblock %}

{% block main %}
<div class="row-fluid well">
	<h1>{% blocktrans %}New {{ GAME_NAME }} servers{% endblocktrans %}</h1>
	<p>{% blocktrans %}Most recent {{ GAME_NAME }} servers{% endblocktrans %}</p>
	{% if servers %}
		<table class="table table-striped">
			<thead><tr><th>{% trans "Top" %}</th><th>{% trans "Server" %}</th><th class="text-center">{% trans "Created" %}</th></tr></thead>
		{% for server in servers %}
			<tr {% if server.is_premium %}class="row-premium" title="{% trans "Premium Server" %}"{% endif %}>
				<td style="text-align:center">
				{% if server.rank == 1 %}<img src="/static/top/img/gold.png" alt="gold"/>{% endif %}
				{% if server.rank == 2 %}<img src="/static/top/img/silver.png" alt="silver"/>{% endif %}
				{% if server.rank == 3 %}<img src="/static/top/img/bronze.png" alt="bronze"/>{% endif %}
				{% if server.rank > 3 %}{{ server.rank }}{% endif %}
				</td>
				<td><a href="/top/server/{{ server.id }}/">{{ server.name }}</a></td>
				<td class="text-center"><span class="badge">{{ server.date }}</span></td>
			</tr>
		{% endfor %}
		</table>
		<div class="d-flex justify-content-center">
			<ul class="pagination">
				{% if page > 1 %}
				<li class="page-item"><a class="page-link" href="/top/recent/page-{{ page|add:-1 }}/" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
				{% else %}
				<li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
				{% endif %}

				{% for p in pagination.pages %}
					{% if p == pagination.current_page %}
					<li class="page-item active"><a class="page-link" href="/top/recent/page-{{ p }}/">{{ p }}</a></li>
					{% elif p == -1 %}
					<li class="page-item disabled"><a class="page-link" href="#">...</a></li>
					{% else %}
					<li class="page-item"><a class="page-link" href="/top/recent/page-{{ p }}/">{{ p }}</a></li>
					{% endif %}
				{% endfor %}

				{% if page < totalPages %}
				<li class="page-item"><a class="page-link" href="/top/recent/page-{{ page|add:1 }}/" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
				{% else %}
				<li class="page-item disabled"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
				{% endif %}
			</ul>
		</div>
	{% else %}
		<p>{% trans "No servers" %}</p>
	{% endif %}
</div>
{% endblock %}