{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Search results" %} - {{ SITE_NAME }}{% endblock %}

{% block main %}
<div class="row-fluid well">
	<h1>{% blocktrans %}Search results{% endblocktrans %}</h1>
	<p>{% blocktrans %}{{ GAME_NAME }} servers containing: {% endblocktrans %}<strong>{{ query }}</strong></p>
	{% if servers %}
		<table class="table table-striped">
			<thead><tr><th>{% trans "Server" %}</th><th class="text-center">{% trans "Created" %}</th></tr></thead>
		{% for server in servers %}
			<tr>
				<td><a href="/top/server/{{ server.id }}/">{{ server.name }}</a></td>
				<td class="text-center"><span class="badge">{{ server.date }}</span></td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>{% trans "No servers found" %}</p>
	{% endif %}
</div>
{% endblock %}