{% extends 'base.html' %}
{% load i18n %}

{% block header %}<meta property="og:image" content="/static/top/img/logo.png" />{% endblock %}
{% block description %}<meta name="description" content="{{ server.name }} {{ GAME_NAME }} private server - {{ SITE_NAME }}" />{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ server.name }}, {{ GAME_NAME }}, server, servidor, private, privado, {{ SITE_NAME }}"/>{% endblock %}

{% block title %}{{ server.name }} {{ GAME_NAME }} {% trans "Server" %} - {{ SITE_NAME }}{% endblock %}

{% block main %}
<article>
    <section>
        <div class="row">
            <div class="col-md-9">
                <div class="well">
                    {% if server.is_premium %}
                        <span style="position: absolute; top:-2px; right:20px;"><img src="/static/top/img/premium.png" alt="premium"/></span>
                    {% endif %}
                    <h1 class="special"{% if server.is_premium %} style="margin-right:60px;color:#6eaa23;" {% endif %}>{{ server.name }}</h1>
                    <p><img class="img-fluid" src="/media/{{ server.image }}" alt="{{ server.name }} logo"/></p>
                    <p>
                        {% if server.online %}<i class="fas fa-check-circle" style="color: green;"></i> {{ GAME_NAME }} server online
                        {% else %}<i class="fas fa-times-circle" style="color: red;"></i> {{ GAME_NAME }} server offline{% endif %}
                    </p>
                    <p><a href="{% url 'visitServer' server.id %}" target="_blank">{{ server.website }}</a></p>
                    <p><label>{{ server.name }} {% trans "IP" %}</label><ip>{{ server.ip }}</ip></p>
                    {{ server.description|linebreaks }}
                    <p><tags>
                        {% for tag in tags %}
                        <span class="badge badge-primary">{% autoescape off %}{{ tag.name }}{% endautoescape %}</span>
                        {% endfor %}
                    </tags></p>
                    <p>{% trans "Server added on" %}: <time datetime="{{ server.date|date:"c" }}">{{ server.date }}</time></p>
                    {% if user == server.owner %}<a class="btn btn-secondary" href="{% url 'editServer' server.id %}"><i class="fas fa-pencil-alt"></i> {% trans "Modify" %}</a>{% endif %}
                </div>
            </div>

            <div class="col-md-3">
                <div class="span3 well text-center">
                    <aside>
                    <div class="spaced"><i class="fas fa-eye"></i> {{ server.visits }} {% trans "visits" %}</div>
                    <div class="spaced"><i class="fas fa-thumbs-up"></i> {{ server.votes }} {% trans "votes" %}</div>
                    <div class="spaced">{% trans "Events" %}: <span class="stars" title="{{ avg_events }}" data-rating="{{ avg_events }}"></span></div>
                    <div class="spaced">{% trans "Support" %}: <span class="stars" title="{{ avg_support }}" data-rating="{{ avg_support }}"></span></div>
                    <div class="spaced">{% trans "Uptime" %} : <span class="stars" title="{{ avg_uptime }}" data-rating="{{ avg_uptime }}"></span></div>
                    <hr style="margin:10px 0">
                    <button id="copyIp" class="btn btn-primary btn-block" data-clipboard-text="{{ server.ip }}">
                        <span class="before-copy"><i class="far fa-copy"></i> {% trans "Copy IP" %}</span>
                        <span class="after-copy" style="display:none"><i class="fas fa-clipboard-check"></i> {% trans "Copied" %}</span>
                    </button>
                    <a id="voteServer" href="#" class="btn btn-success btn-block" title="{% trans 'Vote' %}"><i class="fas fa-thumbs-up"></i> {% trans "Vote" %}</a>
                    <a id="server_website_link" href="{% url 'visitServer' server.id %}" target="_blank" class="btn btn-info btn-block" title="{{ server.name }}"><i class="fas fa-eye"></i> {% trans "Enter" %}</a>
                    <a class="btn btn-light btn-block" href="http://www.facebook.com/sharer.php?s=100&p[title]={{ server.name|iriencode }}&p[summary]={{ server.name|iriencode }}%20-%20{{ SITE_NAME }}&p[url]={{ url|iriencode }}&p[images][0]=http%3A%2F%2F{{ SITE_DOMAIN }}%2Fstatic%2Ftop%2Fimg%2Flogo.png" target="_blank" /><i class="fab fa-facebook"></i> Share</a>
                    </aside>
                </div>
            </div>
        </div>
    </section>

    {% include "top/fragments/server_stats/stats.html" %}

    <section>
        <div class="row-fluid">
            <div id="comments" class="comments hidden-phone">
                <h3>{{ server.name }} {% trans "Comments" %}</h3>
                {% if user.is_authenticated %}
                <div class="well">
                    <table style="width:100%"><tr>
                        <td style="width:140px; padding-right:10px;vertical-align:top;">
                            <span class="btn btn-block disabled">{% trans "Rating" %}</span>
                            <hr style="margin:10px 0">
                            <div class="rating">{% trans "Events" %}: <span id="id_events-stars" class="stars stars-vote" data-rating="5"></span></div>
                            <div class="rating">{% trans "Support" %}: <span id="id_support-stars" class="stars stars-vote" data-rating="5"></span></div>
                            <div class="rating">{% trans "Uptime" %}: <span id="id_uptime-stars" class="stars stars-vote" data-rating="5"></span></div>
                        </td>
                        <td><span class="btn disabled"><i class="fas fa-user"></i> {{ user.username }}</span><hr style="margin:10px 0">
                            <form action="{% url 'commentServer' server.id %}" method="POST" style="margin:0" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.comment }}
                                {{ form.events.as_hidden }}
                                {{ form.support.as_hidden }}
                                {{ form.uptime.as_hidden }}
                                <br>
                                <input type="submit" class="btn btn-primary" value="{% trans "Send" %}"/>
                            </form>
                        </td>
                    </tr></table>
                </div>
                {% else %}
                <div class="well">
                    <p><a class="btn btn-primary" href="/accounts/login?next={{ request.path }}" rel="nofollow">{% trans 'Login with Discord' %}</a> {% trans 'or' %} <a href="/accounts/signup?next={{ request.path }}">{% trans 'create an account' %}</a> {% trans 'to post a comment' %}</p>
                </div>
                {% endif %}

                {% if comments %}
                    {% for comment in comments %}
                        <div id="comment-{{ comment.id }}" class="well">
                        <table style="width:100%"><tr>
                            <td style="width:140px; padding-right:10px; vertical-align:top;">
                                <div class="rating">{% trans "Events" %}: <span class="stars" title="{{ comment.rating_events }}"  data-rating="{{ comment.events }}"></span></div>
                                <div class="rating">{% trans "Support" %}: <span class="stars" title="{{ comment.rating_support }}"  data-rating="{{ comment.support }}"></span></div>
                                <div class="rating">{% trans "Uptime" %}: <span class="stars" title="{{ comment.rating_uptime }}"  data-rating="{{ comment.uptime }}"></span></div>
                            </td>
                            <td><i class="fas fa-user"></i> {{ comment.user.username }}<small style="float: right;"><i class="fas fa-clock"></i> <time datetime="{{ comment.date|date:"c" }}">{{ comment.date }}</time></small><hr style="margin:10px 0">
                                <blockquote>
                                <p>{{ comment.comment|linebreaks }}</p>
                                </blockquote>
                            </td>
                        </tr></table>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No comments</p>
                {% endif %}
            </div>
        </div>
    </section>
</article>
{% endblock %}

{% block scripts%}
    {% include "top/fragments/server_stats/stats_scripts.html" %}

    <!-- copy IP to clippboard  -->
    <script src="/static/clipboard/clipboard.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var clipboard = new ClipboardJS('#copyIp');
        clipboard.on('success', function(e) {
            $('#copyIp').find('.before-copy').hide();
            $('#copyIp').find('.after-copy').fadeIn('slow');
            setTimeout(function () {
                $('#copyIp').find('.before-copy').fadeIn();
                $('#copyIp').find('.after-copy').hide();
            }, 2000);
            e.clearSelection();
        });
    });
    </script>

    <!-- vote for this server -->
    <script type="text/javascript">
        $("#voteServer").click(function(e){
            e.preventDefault();
            var element = $(this);
            $.get("{% url 'voteServer' server.id %}", function() {
                element.replaceWith('<button type="button" class="btn btn-success btn-block" disabled>{% trans "Vote sent" %}</button>');
            })
            .fail(function() {
                element.replaceWith('<button type="button" class="btn btn-danger btn-block" disabled>{% trans "[Error] You can only vote once a day for each server" %}</button>');
            });
        });
    </script>

    <!-- comment/review server -->
    <script type="text/javascript">
        $.fn.extend({
            stars: function() {
                return this.each(function() {
                    var val = parseFloat($(this).data("rating"));
                    var size = Math.max(0, (Math.min(5, val))) * 16;
                    var $span = $('<span />').width(size);
                    $(this).html($span);
                });
            }
        });

        $('span.stars').stars();

        $(".stars-vote").click(function(e){
            var offset = $(this).offset();
            var step = $(this).width()/10;
            var relX = e.pageX - offset.left;
            var steps = Math.round(relX/step);
            $(this).find("span").width(step*steps);
            $(this).data("rating", steps*0.5);
            $("#"+$(this)[0].id.replace("-stars","")+"").val( steps*0.5 );
        });

        $(".stars-vote").mouseleave(function(e){
            $(this).stars();
        });

        $(".stars-vote").mousemove(function(e){
            var offset = $(this).offset();
            var step = $(this).width()/10;
            var relX = e.pageX - offset.left;
            var steps = Math.round(relX/step);
            $(this).find("span").width(step*steps);
        });

        //fix browser form field remembering feature (we don't want the browser to remember some fields
        $(document).ready(function() {
            $("#id_events").val(5.0);
            $("#id_support").val(5.0);
            $("#id_uptime").val(5.0);
        });
    </script>
{% endblock %}
