{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block main %}
<div class="row-fluid well">
  <h1>{% trans "Login" %}</h1>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please login with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">register</a>
  for a {{ site_name }} account and login below:{% endblocktrans %}</p>
  {% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">register</a> first.{% endblocktrans %}</p>
  {% endif %}

  <div class="row">

    <div class="col-lg-4 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form|crispy }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% else %}
              <input type="hidden" name="{{ redirect_field_name }}" value="/" />
              {% endif %}
              <button class="btn btn-block btn-primary" type="submit">{% trans "Login" %}</button>
              <a class="d-block mt-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
      </div>
    </div>

    {% if socialaccount_providers %}
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}

    {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}

  </div>
</div>
{% endblock %}
