{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block main %}
<div class="row-fluid well">
  <div class="col-lg-6 offset-lg-3 text-justify">
    <h1>{% trans "Logout" %}</h1>

    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit" class="btn btn-danger">{% trans 'Logout' %}</button>
    </form>
  </div>
</div>

{% endblock %}
