{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block main %}
<div class="row-fluid well">
    <div class="col-lg-6 offset-lg-3 text-justify">
        <h1>{% trans "Change Password" %}</h1>
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
</div>
{% endblock %}
