{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block main %}
<div class="row-fluid well">
    <div class="col-lg-6 offset-lg-3">
        <h1>{% trans "Sign Up Closed" %}</h1>

        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
    </div>
</div>
{% endblock %}
