{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block main %}
<div class="row-fluid well">
  <h1>{% trans "Register" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">login</a>. You can also <a href="{{ login_url }}">login with your Discord account</a>.{% endblocktrans %}</p>

  <div class="col-lg-6 offset-lg-3">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn btn-block btn-primary">{% trans "Register" %}</button>
    </form>
  </div>
</div>
{% endblock %}
