{% load i18n %}
<!DOCTYPE html>
{% if LANG %}
<html lang="{{ LANG }}">
{% else %}
<html lang="en">
{% endif %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="author" content="TopServer" />
        <title>{% block title %}{{ SITE_NAME }} - {% blocktrans %}{{ GAME_NAME }} server ranking{% endblocktrans %}{% endblock %}</title>
        {% block description %}<meta name="description" content="{{ SITE_NAME }}">{% endblock %}
        {% block keywords %}<meta name="keywords" content="{{ SITE_NAME }}, {{ GAME_NAME }}, top, private, server, servers, servidores, privados, ranking, review, comment, vote"/>{% endblock %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link href='/static/fonts/Fonts.css' rel='stylesheet' type='text/css'>

        <link href='/static/flag-icon-css-master/css/flag-icon.min.css' rel='stylesheet' type='text/css'>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '{{ GOOGLE_ANALYTICS_ID }}');
        </script>


        <style>
            body {
                background-image:url('/static/top/img/bg.png');
                padding-top: 4.5rem;
            }

            ip {
                background-color: #DDD;
                display: inline-block;
                padding: 4px 20px;
                margin: 0 10px;
                font-family: monospace;
            }

            nav li a.btn {
                margin: 0 4px;
            }

            nav .navbar-brand {
                padding: 0;
            }

            footer {
                color: #777;
                margin: 20px 0;
            }

            footer ul {
                list-style: none;
                margin: 0;
                paddng: 0;
            }

            footer li {
                padding: 0 15px;
                float: left;
            }

            footer .link, footer a {
                background: none;
                border: none;
                color: #007bff;
                text-decoration: none;
                padding: 0;
                margin: 0;
            }
            footer .link:hover, footer a:hover {
                text-decoration: underline;
            }

            .well {
                background-color: #f5f5f5;
                padding: 20px;
                margin-bottom: 20px;
                border: 1px solid #e3e3e3;
                border-radius: 4px;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            }

            .messages {
                position: fixed;
                top: 75px;
                width: 50%;
                left: 50%;
                transform: translate(-50%, 0);
                z-index: 1000;
            }

            .login .alert ul {
                padding: 10px;
                list-style: none;
            }

            h1.special, h2.special, h3.special {
                font-family:Philosopher;
            }

            .rating {
                text-align: center;
                color: #333;
            }

            .spaced {
                padding: 6px;
            }

            span.stars, span.stars span {
                display: inline-block;
                background: url("/static/top/img/stars.png") 0 -16px repeat-x;
                width: 80px;
                height: 16px;
                text-align:left;
                position: relative;
            }
            span.stars span {
                background-position: 0 0;
                position: absolute;
            }
            span.stars-vote {
                cursor:pointer;
            }

            table tr.row-premium td {
                background-color:rgba(0,250,30,0.2) !important;
            }
            .row-premium {
                padding-left: 50px;
            }

            .comments td {
                vertical-align: top;
            }

            .comments textarea {
                padding: 8px;
                width: 100%;
                height: 150px;
                display: block;
            }

            hr.dark {
                border-bottom: 1px solid #FFFFFF;
                border-top: 1px solid #AAAAAA;
            }

            .row-nomargin {
                margin-left: 0px;
                margin-right: 0px;
            }

            .product {
                margin-bottom: 20px;
            }

            #logo {
                text-align: center;
            }

            #heading {
                font-family:Philosopher;
                font-size:1.2em;
                line-height:1.2em;
                height:200px;
            }
            #slider {
                height:200px;
            }
            #heading p, #heading ul {
                margin-bottom: 8px;
            }
            .carousel-inner .carousel-item {
                padding-left:80px;
                padding-right:80px;
            }
            .carousel-indicators {
                margin-bottom: -10px;
            }
            .carousel-indicators li {
                background-color: #919191;
                height: 6px;
            }

            #tag-selector {
                padding: 0;
            }
            #tag-selector li {
                list-style: none;
                display: inline-block;
            }
            #tag-selector span {
                cursor: pointer;
            }

            .socialaccount_providers {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            .socialaccount_providers li {
                display: inline-block;
                cursor: pointer;
            }
            .socialaccount_providers li a.discord {

            }
        </style>

        {% block header %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/" title="{{ SITE_NAME }}">
                <img src="/static/top/img/logo.png" width="50" height="50" alt="{{ SITE_NAME }}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'recentTop' %}">{% trans "Recent" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'monthTop' %}">{% trans "Month" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'yearTop' %}">{% trans "Year" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'globalTop' %}">{% trans "Global" %}</a></li>
                    <li class="nav-item"><a class="btn btn-outline-success" href="{% url 'addServer' %}">{% trans "Add server" %}</a></li>
                    <li class="nav-item"><a class="btn btn-outline-info" href="{% url 'premium' %}">{% trans "Premium" %}</a></li>
                    {% if user.is_superuser %}<li class="nav-item"><a class="nav-link" href="/admin/" title="Admin"><i class="fas fa-cogs"></i></a></li>{% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'myServers' %}">{% trans "My servers" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="/accounts/profile/" title="{{ user.username }}"><i class="fas fa-user-circle"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="/accounts/logout/" title="{% trans 'Logout' %}"><i class="fas fa-sign-out-alt"></i></a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="/accounts/login/?next={{ request.path }}">{% trans "Login" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="/accounts/signup/?next={{ request.path }}">{% trans "Register" %}</a></li>
                    {% endif %}
                </ul>

                <ul class="navbar-nav justify-content-end">
                    <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'serverSearch' %}">
                        <input class="form-control mr-sm-2" type="search" placeholder="{% trans 'Search' %}" aria-label="Search" name="q">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </ul>
            </div>
        </nav>

        <main role="main" class="container container-fluid">
            {% include "top/messages.html" %}

            {% block heading %}{% endblock %}

            {% block main %}{% endblock %}
            {% block content %}{% endblock %}

            <footer>
                <p class="float-left">{% blocktrans %}{{ SITE_NAME }} is not affiliated with {{ GAME_NAME }}{% endblocktrans %}</p>
                <ul class="float-right">
                    <li>
                        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="language" value="en">
                            <input name="next" type="hidden" value="{{ request.path }}"/>
                            <input class="link" type="submit" value="English" />
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="language" value="es">
                            <input name="next" type="hidden" value="{{ request.path }}"/>
                            <input class="link" type="submit" value="Español" />
                        </form>
                    </li>
                    <li><a href="/contact/">{% trans "Contact" %}</a></li>
                </ul>
            </footer>
        </main>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('.carousel').carousel();
            });
        </script>

        {% block scripts %}{% endblock %}
    </body>
</html>
