{% extends 'base.html' %}
{% load i18n %}

{% block title %} {% trans "Profile" %} - {{ SITE_NAME }}{% endblock %}

{% block main %}
<div class="row-fluid well">
	<h1>{% trans "Profile" %}</h1>
	{% trans "User's name" %}: <strong>{{ user.username }}</strong><br>
	{% trans "Email" %}: <strong>{{ user.email }}</strong><br>

	<a href="{% url 'myServers' %}">{% trans "My servers" %}</a>
</div>
{% endblock %}