{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<div class="col-lg-4">
    <div class="card">
        <img src="/static/accounts/login/{{brand.name|lower}}.png" class="card-img-top" alt="{{brand.name|lower}}">
        <div class="card-body text-center">
            <p class="card-text">Login with your {{brand.name}} account.</p>
            <a href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
               title="{{brand.name}}" class="btn btn-primary socialaccount_provider {{provider.id}} {{brand.id}}">
                <i class="fab fa-{{brand.name|lower}}"></i> Login with {{brand.name}}
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<div class="col-lg-4">
    <div class="card">
        <img src="/static/accounts/login/{{provider.name|lower}}.png" class="card-img-top" alt="{{provider.name|lower}}">
        <div class="card-body text-center">
            <p class="card-text">Login with your {{provider.name}} account.</p>
            <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
               title="{{provider.name}}" class="btn btn-primary socialaccount_provider {{provider.id}}">
                <i class="fab fa-{{provider.name|lower}}"></i> Login with {{provider.name}}
            </a>
        </div>
    </div>
</div>
{% endfor %}
