{% load i18n %}

<section id="statistics" class="d-none">
    <div class="row-fluid">
        <h3>{{ server.name }} {% trans "Statistics" %}</h3>
        <div class="row-fluid well">
            <canvas id="statisticsChart" width="800" height="400"></canvas>
        </div>

    </div>
</section>