<script src="/static/charts/moment.min.js"></script>
<script src="/static/charts/Chart.min.js"></script>

<script>
function showStats() {
    $.getJSON('/top/server/{{ server.id }}/stats')
    .done(function(response) {
        if (!response.stats || response.stats.length == 0) return;
        plotStats(response.stats);
    })
    .fail(function() {
        console.log("Error retrieving server stats");
    });
}

function plotStats(data) {
    var ctx = $('#statisticsChart');
    var myChart = new Chart(ctx, chartOptions(data));
    $('#statistics').removeClass('d-none');
}

function chartOptions(data) {
    return {
        type: 'line',
        data: {
            datasets: [pingDataset(data), playersDataset(data)]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        parser: moment.unix,
                        unit: 'minute'
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    id: 'players',
                    scaleLabel: {
                        display: true,
                        labelString: 'Players'
                    },
                    ticks: {
						min: 0
					},
					position: 'right'
                },
                {
                    display: false,
                    id: 'ping',
                    scaleLabel: {
                        display: true,
                        labelString: 'Ping (ms)'
                    },
                    position: 'right',
                    gridLines: {
                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                    ticks: {
						autoSkip: false,
						min: 0,
						max: 500
					}
                }]
            }
        }
    };
}

function playersDataset(data) {
    var dataset = {
        'label': 'Players Online',
        'yAxisID': 'players',
        'backgroundColor': '#11aa66',
        'borderColor': '#437f5e',
        'fill': true,
        'data': []
    };
    data.forEach(point => {
        dataset.data.push({
            x: point.date,
            y: point.players
        });
    });
    return dataset;
}

function pingDataset(data) {
    var dataset = {
        'label': 'Ping (ms)',
        'yAxisID': 'ping',
        'backgroundColor': '#880088',
        'borderColor': '#880088',
        'fill': false,
        'borderWidth': 1,
        'data': []
    };
    data.forEach(point => {
        dataset.data.push({
            x: point.date,
            y: point.ping
        });
    });
    return dataset;
}

$(document).ready(function() {
    showStats();
});
</script>